body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    background-color:  #6F38C5;
  
    
}
.welcome-text{
    position: relative;
    top: 100px;
}
.back{
    position: absolute;
    top: 100px;
    left: 130px;
   padding: 2px;
    text-align: center;
    font-size: 38px;
}
h1{
    font-size: 35px;
    font-family: arial;
    padding: 5px 7px;
}
p{
    font-weight: bold;
}
.form-ui{
    border: 4px solid grey;
    border-radius: 8px;
    width: 28%;
    height: 100%;
    background-color: #FBDF07;
    position: absolute;
    top: 50px;
    right: 180px;

}
.links a {
    padding: 30px;
    
   
    
}
form input{
    padding: 17px;
    width: 85%;
    border-radius: 10px;
    border-style:3px dashed;
    font-size: 18px;
   
    
}
.input-dabba{
    margin: 10px;
}
.oror{
    font-size: 20px;
    text-align: center;
    position: relative;
    top: 25px;
    color: grey;
    padding: 18px;
    
}
.border{
    border: 1px solid black;
    padding: 1%;
    border-radius: 10px;
    background-color: white;
}
.forget{
    position: relative;
    left: 250px;
    text-decoration: none;
    color: black;

}
.login{
    position: relative;
    top: 30px;
    background-color: black;
    color: white;
    padding: 15px 167px;
    margin: 10px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 20px;
    
    
    
}
.login:hover{
    opacity: 0.9;
    color: #FF4A4A;
    font-size: 22px;
}
.join{
    margin-left: 15px;
}